body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #caf0f8;
  color: #03045e;
  height: 100vh;
  width: 100vw;
}

header {
  height: 20%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.qr-code {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button, label {
  margin-top: 25px;
}

button {
  padding: 8px 15px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  background-color: #560bad;
  color: #f7ede2;
  transition: 0.3s all;
}

button:hover {
  cursor: pointer;
  background-color: #4361ee;
  color: #caf0f8;
  transform: scale(0.96);
}

#web-address {
  width: 280px;
  height: 30px;
  font-size: 1.2rem;
  border: none;
  text-align: center;
  border-radius: 6px;
}

